.form-control {
  display: block;
  margin-top: 0.3rem;
  margin-bottom: .5rem;

  label {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #414141;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input {
    &.ng-invalid.ng-touched {
      border: 1px solid red
    }
    &.ng-valid.ng-touched {
      border: 1px solid green;
    }
  }
  .validation {
    color: red;
  }

  input:focus:valid {
    border: 1px solid red
  }

  input:focus:invalid {
    border: 1px solid red
  }
}
button[type='submit']:enabled {
  width: 35%;
  position: relative;
  background-color: red;
  left: 30%;
}

button[type='submit']:disabled {
  width: 35%;
  position: relative;
  left: 30%;
  background-color: #878787;
  cursor: not-allowed;
}




