<div class="container">
  <form [formGroup]="form">

    <div class="form-control">
      <label>Owner</label>
      <input
        type="text"
        class="form-control"
        placeholder="Owner"
        formControlName="owner">
      <div
        *ngIf="form.get('owner').invalid && form.get('owner').touched === true"
        class="validation"
      >
        <small>
          Empty field
        </small>
      </div>
    </div>

    <div class="form-control">
      <label>End Date</label>
      <input
        type="text"
        pattern="(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d"
        class="form-control"
        placeholder="End Date"
        formControlName="endDate">
      <div
        *ngIf="form.get('endDate').invalid && form.get('endDate').touched === true"
        class="validation"
      >
        <small>
          Empty field
        </small>
      </div>
    </div>

    <div class="form-control">
      <label>Profits</label>
      <input
        type="text"
        pattern="^[0-9]+$"
        class="form-control"
        placeholder="Profits"
        formControlName="profits">
      <div
        *ngIf="form.get('profits').invalid && form.get('profits').touched === true"
        class="validation"
      >
        <small>
          Empty field
        </small>
      </div>
    </div>

    <div class="form-control">
      <label>Losses</label>
      <input
        type="text"
        pattern="^[0-9]+$"
        class="form-control"
        placeholder="Losses"
        formControlName="losses">
      <div
        *ngIf="form.get('losses').invalid && form.get('losses').touched === true"
        class="validation"
      >
        <small>
          Empty field
        </small>
      </div>
    </div>

    <div class="form-control">
      <label>Phone (Example: 9999999999)</label>
      <input
        type="text"
        onkeyup="this.value = this.value.replace(/[^\d]/g,'');"
        class="form-control"
        placeholder="Phone"
        formControlName="phone">
      <div
        *ngIf="form.get('phone').invalid && form.get('phone').touched"
        class="validation"
      >
        <small *ngIf="form.get('phone').errors.required">
          Empty field
        </small>

        <small *ngIf="form.get('phone').errors.pattern.requiredPattern">
          Enter the correct number
        </small>
      </div>
    </div>

    <div>
      <button
        class="submit"
        type="submit"
        (click)="onSubmit()"
        [mat-dialog-close]="true"
        [disabled]="!form.valid"
      >Submit
      </button>
    </div>

  </form>
</div>
