.menu {
  position: absolute;
  width: 12%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(175.93deg, #5F00D8 -10.23%, #B200F1 117.03%);
}
.menu ul{
  position: relative;
  top: 9%;
}

.menu ul li {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin: 20%;
  list-style:none;
  position: relative;
}

.menu label{
  position: absolute;
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  width: 93.77px;
  height: 22.5px;
  left: 35%;
  top: 877.87px;
}

label:hover{
  cursor: pointer;
  opacity: 0.8;
}

li:hover {
  cursor: pointer;
  opacity: 0.8;
}
img{
  position: relative;
  right: 35%;
  top: 18%;
}
.logo{
  position: absolute;
  right: 71%;
  top: 5%;
}
.line{
  opacity: 0.2;
  border: 1px solid #FFFFFF;
  top: 10%;
  position: relative;
  width: 180px;
}
.hide{
  display: none;
}
