<div class="menu">
  <img class="logo" src='../../assets/icons/Logo.png' alt="error">
  <hr class="line"/>
  <ul *ngFor="let option of options">
    <li><img src="{{option.icon}}" alt="error">{{option.title}}</li>
  </ul>
  <div>
    <label><img src='../../assets/icons/Logout.png' alt="error">Logout</label>
  </div>
</div>
<app-overview></app-overview>
