div{
  height: 100%;
  width: 80%;
  position: absolute;
  left: 13%;
}
table{
  position: relative;
  width: 80%;
  height: 75%;
  left: 10%;
  top: 5%;
}
table td {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #414141;
  position: relative;
}
tr:nth-child(2n) {
  background: rgba(0, 0, 0, 0.04);
}
table th{
  text-align: left;
  position: relative;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #878787;
}
h1{
  position: absolute;
  width: 170.7px;
  height: 47.42px;
  left: 10%;
  top: 5%;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  line-height: 47px;

  color: #000000;
}
.dots_btn{
  background: #EEF2F5;
  top: 5%;
}


