
<div>
  <h1>Overview</h1>
  <button class="dots_btn"><img src='../../assets/icons/Dots.png' alt="error"></button>
  <button (click)="openDialog()">Add</button>
  <table>
    <tr>
      <th>Owner</th>
      <th>End Date</th>
      <th>Profits</th>
      <th>Losses</th>
      <th>Phone</th>
    </tr>
    <tr *ngFor="let item of tableService.users">
      <td>{{item.owner | titlecase}}</td>
      <td>{{item.endDate}}</td>
      <td style="color: #00CA39">{{item.profits}}</td>
      <td style="color: #E44067">{{item.losses}}</td>
      <td>{{item.phone | phoneNumber}}</td>
    </tr>
  </table>
</div>
