@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Bold.ttf');
  font-style: normal;
  font-weight: bold;
}
button {
  position: relative;
  left: 80%;
  top: 5%;
  margin-left: 5px;
  background: #10CD45;
  border-radius: 5px;
  height: 3.5%;
  width: 4.5%;
  font-family:'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}
button:hover{
  opacity: 0.8;
}
